<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mercado-Liebre</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" />
        <div><p>Lugar para poner la barra de busqueda</p></div>
        <div><p>Compra en cuotas y sin tarjeta de credito</p></div>
        <nav>
            <ul>
                <li><a href= '#'>Ofertas</li></a>
                <li><a href= '#'>Tiendas Oficiales</li></a>
                <li><a href= '#'>Vender</li></a>
                <li><a href= '#'>Ayuda</li></a>
            </ul>
            <ul>
                <li><a href= '#'>Crea tu cuenta</li></a>
                <li><a href= '#'>Ingresa</li></a>
                <li><a href= '#'>Mis compras</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <section id='last-search'>
            <h3>Basado en tu ultima visita</h3>
            <div class="item">
                <img src="images/img-cafetera-moulinex.jpg"
                <div class="description">
                 <div class="price"><p>$6.770</p></div>
                 <div class="discount"><p>40% OFF</p></div>
                 <div class="productName"><p>Cafetera Moulinex</p></div>
                </div>
            </div>
            <div class="item">
                <img src="images/img-macbook-pro-2019.jpg"
                <div class="description">
                 <div class="price"><p>$230.000</p></div>
                 <div class="discount"><p>20% OFF</p></div>
                 <div class="productName"><p>MacBook Pro 2019</p></div>
                </div>
            </div>
            <div class="item">
                <img src="images/img-samsung-galaxy-s10.jpg"
                <div class="description">
                 <div class="price"><p>$230.000</p></div>
                 <div class="discount"><p>20% OFF</p></div>
                 <div class="productName"><p>MacBook Pro 2019</p></div>
                </div>
            </div>
            <div class="item">
                <img src="images/img-tv-samsung-smart.jpg"
                <div class="description">
                 <div class="price"><p>$23.200</p></div>
                 <div class="discount"><p>5% OFF</p></div>
                 <div class="productName"><p>SmartTv Samsung 43"</p></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>
    
</body>
</html>