body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
/*----------------HEADER-----------------*/
header{
    background-color: #EAC926
}
.cuotas{
    text-align: center;
}
.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    background-color: #1259c3;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 15%;
}
img{
    width: 300px;
    border-bottom: 1px solid #ebebeb;
}

/*----------------MAIN-----------------*/
main{
    text-align: center;
    width: 90%;
    margin: auto;
    display: block;
    
}
.item{
    background-color: white;
    margin: 10px;
}
p{
    font-size: 12px; 
}
h3{
    font-size: 24px;
}
.description{
    font-size: 16px;
    box-sizing: border-box;
}
.price{
    font-size: 18px;
}
.productName{
    font-size: 16px;
}
/*----------------FOOTER-----------------*/
footer{
    text-align: center;
    color: #666;
}
footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}



/* Paleta de colores
-Amarillo: #EAC926
-Azul: #03264C
-Celeste: #1259c3
-Gris oscuro: #666
-Gris claro: #ebebeb;
-Verde: #39b54a;